.box{
border-bottom:3px solid red;
    border-left:3px dotted blue;
    border-right:3px dotted black;
    border-top:3px solid green;
    display: inline-block;
    border-radius:10px;
}
.box2{
border-bottom:3px solid red;
    border-left:3px dotted blue;
    border-right:3px dotted black;
    border-top:3px solid green;
display: inline-block;
   border-radius:10px;
}
.box3{
border-bottom:3px solid red;
    border-left:3px dotted blue;
    border-right:3px dotted black;
    border-top:3px solid green;
display: inline-block;
    border-radius:10px;

}
.box4{
border-top: 3px solid blue;
border-bottom: 3px solid yellow;
border-left: 3px solid yellow;
border-right: 3px solid blue;
display: inline-block;
}
.box5{
border-top: 3px solid blue;
border-bottom: 3px solid white;
border-left: 3px solid white;
border-right: 3px solid blue;
display: inline-block;
}
.box6{
border-top: 3px solid blue;
border-bottom: 3px solid red;
border-left: 3px solid white;
border-right: 3px solid white;
display: inline-block;
}
.box7{
border-top: 3px solid blue;
border-bottom: 3px solid red;
border-left: 3px solid white;
border-right: 3px solid white;
display: inline-block;
}
.box8{
border-top: 3px solid blue;
border-bottom: 3px solid red;
border-left: 3px solid white;
border-right: 3px solid white;
display: inline-block;
}
.box9{
border-top: 3px solid blue;
border-bottom: 3px solid red;
border-left: 3px solid white;
border-right: 3px solid white;
display: inline-block;
}
.fixed-area {
    position: fixed; /* Fixes the element to the viewport */
    top: -30px;; /* Positions it at the top of the viewport */
    left: 0; /* Positions it at the left of the viewport */
    width: 100%; /* Makes it span the full width */ /* Example styling */
    z-index: 1000; /* Ensures it stays on top of other content */
}
.sidepanel {
  position: fixed;
  right: 0%;
  top: 0; /* Start at the top */
  width: 200px; /* Example width */
  height: 100%;
  background-color: red;
  transition: top 0.3s; /* Smooth transition for movement */
  overflow-x: hidden; /* To prevent horizontal scrollbar */
  z-index: 10; /* Ensure it's above other content */
}